	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<div id="wrapfooter">
	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
	<span class="copyright">{CREDIT_LINE}
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</div>
			</div>
			<!-- /right panel -->
		</div>
	</div>
</div>
<!-- footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-5">
				<section class="contact">
					<div class="clearfix"><span>Holmes</span> <span>610-583-9960</span></div>
					<div class="clearfix"><span>Blue Bell</span> <span>610-277-7251</span></div>
					<div class="clearfix"><span>Wilmington, DE</span> <span>302-482-3480</span></div>
				</section>
			</div>
			<div class="col-lg-9 col-sm-7 text-right">
				<section class="links">
<a href="http://au.aycdev.com/">Home</a> |
<a href="http://au.aycdev.com/store-hours-directions/">Store Hours/Directions</a> |
<a href="http://au.aycdev.com/contact-us/">Contact Us</a> |
<a href="http://au.aycdev.com/about-us/">About Us</a><br class="hidden-xs" />
<a href="http://au.aycdev.com/new-releases/">New Releases</a> |
<a href="http://au.aycdev.com/games/">Games</a> |
<a href="http://au.aycdev.com/special-events/">Special Events</a> |
<a href="http://au.aycdev.com/calendar/">Calendar</a> |
<a href="http://au.aycdev.com/links/">Links</a> |
<a href="/forums">Forums</a> |
<a href="http://store.alternateu.com">Online Store</a>				</section>
				<section class="copyright">&copy; 2014 Alternate Universes. All Rights Reserved. | Site design by <a href="http://paul.bagosy.com" target="_blank">Paul Bagosy</a></section>
			</div>
		</div>
	</div>
</footer>
</body>
</html>